/*============================================*/
/* jQuery Styling */
/*============================================*/


* {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}


.box {
	position: relative; 
	overflow: hidden;
	float: left;
	width: 200px;
	height: 200px;
	margin: 20px;
	padding-bottom: 50px;
	box-shadow: 0px 0px 0px 5px white;
	background-size: cover;
}

.boxTitle {
/*	position: relative;
	background: transparent;
	text-align: left;
	color: black;
	height: 225px;
	padding: 10px 5px;
	transition: all .3s ease-out;*/
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: black;
	position: absolute;
	text-align: left;
	display: block;
	width: 90%;
	padding: 10px 5px;
	bottom: 0px;
	background-color: white;
	clear: both;
	transition: all .3s ease-out;
}

/*.boxTitle:hover {
	font-weight: 300;	
	position: relative;
	height: 225px;
	color: black;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	padding: 10px 5px;
}*/

.boxPrice {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: black;
	position: absolute;
	float: right;
	display: block;
	width: 90%;
	padding: 10px 5px;
	bottom: 0px;
	background-color: white;
	transition: all .3s ease-out;
}

.boxDescription {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: black;
	position: absolute;
	float: left;
	display: block;
	width: 90%;
	padding: 10px 5px;
	bottom: 0px;
	background-color: white;
	transition: all .3s ease-out;
}

/*.boxPrice:hover {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;	
	font-size: 3em;
	position: absolute;
	bottom: 0px;
	display: block;
	width
	text-align: right;
	color: black;
	padding: 10px 5px;
}*/

/*============================================*/
/* Main Styling */
/*============================================*/

body {
	background-color: #ECEBE9;
}

.head {
	background-color: red;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
}

.container {
	margin: 0 auto;
	background-color: #ECEBE9;
	width: 970px;
	height: 100%;
}
.main {
	text-align: center;
	float: right;
	margin:0 auto;
	width:736px;
	height: 100%;
}

.rightbar {
	display: inline-block;
	background-color: orange;
	float: left;
	width: 200px;
	height: 900px;
	text-align: center;
}

.rightbar h1 {
	font-family: 'Anonymous Pro', sans-serif;
	font-weight: bold;	
	color: white;
}

.foot {
	display: block;
	clear: both;
	background-color: red;
	width: 100%;
	height: 400px;
	margin-top: 10px;
}












