/*============================================*/
/* jQuery Styling */
/*============================================*/


* {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.box {
	position: relative; 
	overflow: hidden;
	float: left;
	width: 200px;
	height: 200px;
	margin: 20px;
	padding-bottom: 50px;
	box-shadow: 0px 0px 0px 5px white;
	background-size: cover;
	background-position: center;
}

.boxTitle {
	position: relative;
	margin: 0 auto;
	top: 100%;
	background: rgba(236, 235, 233, 0.3);
	text-align: left;
	color: black;
	height: 12%;
	width: 90%;
	padding: 10px 5px;
	transition: all .3s ease-out;
}

.boxTitle:hover {
	background: rgba(236, 235, 233, 1);
}

.boxPrice {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: black;
	position: absolute;
	text-align: right;
	display: block;
	width: 90%;
	padding: 10px 5px;
	bottom: 0px;
	background-color: transparent;
	transition: all .3s ease-out;
}


.boxPrice:hover {
	color: green;
}

/*============================================*/
/* Main Styling */
/*============================================*/

body {
	background-color: #ECEBE9;
}

.head {
	background-image: url(head.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
}

.title {
	margin: 0 auto;
	position: absolute;
	left: 10%;
	top: 190px;
	color: white;
	font-size: 8em;
}

.underTitle {
	margin: 0 auto;
	position: absolute;
	left: 10.3%;
	top: 340px;
	color: white;
	font-size: 2em;
	font-weight: 100;
	letter-spacing: .405em;
}

.container {
	margin: 0 auto;
	background-color: #ECEBE9;
	width: 970px;
	height: 100%;
}
.main {
	text-align: center;
	float: right;
	margin:0 auto;
	width:960px;
	height: 100%;
}

.leftbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	background-color: orange;
	float: left;
	width: 200px;
	height: 900px;
	text-align: center;
	box-shadow: 0 0 0 5px white;
	margin-top: 20px;
}

.leftbar h1 {
	font-family: 'Anonymous Pro', sans-serif;
	font-weight: bold;	
	color: white;
}

/*.foot {
	display: block;
	clear: both;
	background-color: red;
	width: 100%;
	height: 400px;
	margin-top: 10px;
}*/












